body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: black;
    font-size: 20px;
    text-align: center;
}

p {
    color: black;
    font-size: 17px;
}

