body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: rgb(38, 175, 255);
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

h2 {
    color: rgb(62, 134, 230);
    font-size: 30px;
    text-align: left;
    background-color: rgb(234, 245, 255);
    margin-top: 100px;
    padding: 6px 20px;
}

h2:first-child {
    margin-top: 0px;
}

h3 {
    color: rgb(38, 175, 255);
    font-size: 20px;
    text-align: left;
    margin-top: 60px;
}

p {
    color: black;
    font-size: 17px;
    line-height: 1.8em;
}

.neon_yellow {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 0, 0.4);
    text-decoration-thickness: 7px;
    text-underline-offset: -5px;
    text-decoration-skip-ink: none;
}