.c_language_image {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.C_and_python_table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: center;
    border: 1px solid #000;
    table-layout: fixed;
}

.C_and_python_table caption {
    color: rgb(41, 130, 255);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.C_and_python_table th, .C_and_python_table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px 10px;
}

.C_and_python_table th {
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
}

.C_and_python_table tr {
    background-color: #f2f2f2;
}

.C_and_python_table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.c_features {
    color: #0a2a6e;
    border: dotted #0a2a6e 1px;
    padding: 0.5em 0.5em 0.5em 2em;
    list-style-type: circle;
}

.c_features li {
    line-height: 1.5;
    padding: 5px 0;
}